h1 {
    color:red;
    font-family:Verdana;
}

h2 {
    color:lightseagreen;
    font-family:Verdana;
}

p {
    font-family:Verdana;
}

body {
    padding:15px;
    text-align:center;
}

img {
    float:center
}

.headerdiv {
    text-align:center;
    font-size:25px;
    background-color:darkred;
    padding:20px;
}

.headerdiv:hover {
    background-color:darkgoldenrod
}